---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import ResumeDropdown from "../../elements/ResumeDropdown.astro";
import ContainerBottom from "../../elements/ContainerBottom.astro";

// content
const education = [
    { 
        title: "Mechatronics Engineer",
        place: "Universidad de las Fuerzas Armadas ESPE",
        period: "2018 - 2025",
        text: "Concentrated in systems integration and automation with coursework in robotics, control systems, mechanical design, and embedded electronics."
    },
    { 
        title: "Project Design with AutoCAD 2D/3D",
        place: "Espinosa de los Monteros Capacitación Continua",
        period: "2025",
        text: "Intensive 40-hour technical program focused on 2D drafting and 3D modeling, covering parametric design, assembly visualization, and technical documentation for engineering projects."
    },
    { 
        title: "Introduction to Bionic Prostheses",
        place: "P4H Bionics",
        period: "2025",
        text: "Specialized 120-minute webinar exploring the fundamentals of biomechatronics, focusing on signal processing, actuator integration, and the current landscape of upper-limb bionic interfaces."
    },
    { 
        title: "Artificial Intelligence Course",
        place: "Webpositer Academy",
        period: "2025",
        text: "Intensive 6-hour seminar on AI fundamentals, covering machine learning algorithms, data processing, and their practical implementation in predictive modeling and decision-making systems."
    },
    { 
        title: "Project 4.0: Automation and Industry 4.0",
        place: "IngeLearn",
        period: "2025",
        text: "Intensive 8-hour workshop focused on Industry 4.0 and IoT integration, featuring hands-on experience with PLC programming, Node-RED flow automation, and Python for industrial data acquisition and systems control."
    },
    { 
        title: "Python Level II – The path to Industry 4.0",
        place: "IngeLearn",
        period: "2026",
        text: "Self-paced advanced programming course focused on Python for industrial applications, covering data structures, automated scripting, and API integration for smart factory environments."
    }
]
---

<Container variant={'md'}>
    <Heading tagName="h2" tagSize="h2" class="text-center">Education</Heading>
    <div class="flex flex-col gap-4">
        <Container class="flex flex-col gap-4 p-6 border-3 border-base-900">
            {
                education.map((i) => (
                    <ResumeDropdown title={i.title} place={i.place} period={i.period} text={i.text} />
                ))
            }
        </Container>
        <ContainerBottom /> 
    </div>
    
</Container>
