---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import ResumeDropdown from "../../elements/ResumeDropdown.astro";
import ContainerBottom from "../../elements/ContainerBottom.astro";

// content
const experience = [
    { 
        title: "Project Engineer",
        place: "TAIMEC",
        period: "07/2025 – 10/2025",
        text: "Leading mechanical assembly and QA/QC for large-scale industrial plants, optimizing design accuracy by resolving site interferences using Navisworks and SolidWorks."
    },
    { 
        title: "Automation & Data Intern",
        place: "Sedemi",
        period: "05/2025 – 07/2025",
        text: "Driving digital transformation in Oil & Gas projects by automating workflows with Excel macros and developing real-time project tracking dashboards in Power BI."
    },
    { 
        title: "Web & Inventory Development",
        place: "Universidad de las Fuerzas Armadas ESPE",
        period: "04/2024 - 07/2024",
        text: "Managing digital architecture and inventory systems through the implementation of Odoo-based web platforms and data analysis integration for Industry 4.0 technologies."
    },
    { 
        title: "Technical Project Developer",
        place: "Freelance",
        period: "10/2021 - 03/2024",
        text: "Designing advanced HMI interfaces (PID) and physical prototypes integrating computer vision, microcontrollers, and artificial intelligence for custom engineering solutions."
    },
    { 
        title: "Software Developer for Industrial Applications",
        place: "Laboratorio de Calibración Pinprexat",
        period: "09/2023 - 10/2023",
        text: "Developing custom software solutions using JavaScript and APIs to automate technical certifications, eliminating manual entry and ensuring data integrity."
    },
    { 
        title: "Mechatronics Maintenance Intern",
        place: "FRANDIG",
        period: "03/2023 - 03/2023",
        text: "Performing preventive maintenance for industrial dairy machinery and optimizing electrical control panels (110V/220V) to ensure operational efficiency and safety compliance."
    }
]
---

<Container variant={'md'}>
    <Heading tagName="h2" tagSize="h2" class="text-center">Experience</Heading>
    <div class="flex flex-col gap-4">  
        <Container class="flex flex-col gap-4 p-6 border-3 border-base-900">
            {
                experience.map((i) => (
                    <ResumeDropdown title={i.title} place={i.place} period={i.period} text={i.text} />
                ))
            }
        </Container>
        <ContainerBottom />
    </div>

</Container>
