---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import Text from "../../elements/Text.astro";
import ImageContainer from "../../elements/ImageContainer.astro";

// assets
import peter from "../../../assets/images/peter.jpg";
---

<Container variant={'xl'}>
    <Heading tagName="h1" tagSize="h1" class="text-center">Meet Paola</Heading>
    <div class="flex md:flex-row flex-col gap-16 md:items-center">
        <div class="flex-1 flex flex-col gap-7">
            <Text variant={'xl'} class="text-base-900">I'm a hybrid-profile engineer dedicated to crafting integrated systems that connect physical machinery with digital intelligence through thoughtful design and technical expertise.</Text>
            <Text variant={'sm'} class="text-base-900">My journey across industrial and research environments has focused on driving the shift toward Industry 4.0 by bridging the gap between field engineering and digital intelligence. My work goes beyond data and metrics; I am deeply committed to design that prioritizes the human experience. By converting complex problems into automated, user-focused workflows, I ensure that technology serves as a practical tool for people, not just a set of technical specifications.</Text>
        </div>
        <div class="h-full md:h-[500px] flex-1">
            <ImageContainer src={peter} alt="Peter"/>
        </div>
    </div>
</Container>