---
// components
import Container from "../../elements/Container.astro"
import ContactItem from "./ContactItem.astro"
---
<Container variant={'md'}>
    <div class="flex lg:flex-row flex-col gap-8 text-base-900">
        <ContactItem title="Email" contact="plpino7@outlook.com" />
        <ContactItem title="Phone" contact="+593 97 872 9317" />
    </div>
</Container>