---
// components
import Heading from "../../elements/Heading.astro";
import Container from "../../elements/Container.astro";
import Text from "../../elements/Text.astro";
---

<Container variant={'xl'} class="text-center text-base-900 flex flex-col items-center">
    <Heading tagName="h1" tagSize="h1">Contact</Heading>
    <div class="max-w-3xl flex flex-col gap-4">
        <Text variant={'xl'}>Let's Create Something Amazing Together!</Text>
        <Text variant={'sm'}>Ready to bring your vision to life? I'd love to hear about your project and explore how we can work together to create meaningful design solutions that drive results.</Text>
        <Text variant={'sm'}>Currently accepting new projects. Response time: 24-48 hours.</Text>
    </div>
</Container>