---
// components
import Heading from "../../elements/Heading.astro";
import Text from "../../elements/Text.astro";
import Container from "../../elements/Container.astro";
import Link from "../../elements/Link.astro";
import ImageContainer from "../../elements/ImageContainer.astro";

// assets
import peter2 from "../../../assets/images/peter2.jpg";
---

<Container variant={'xl'}>
    <Heading tagName="h2" tagSize="h2" class="text-center">About</Heading>
    <div class="flex lg:flex-row lg:gap-16 gap-10 flex-col">
        <div class="flex flex-col items-start gap-6 lg:pt-6 text-base-900 lg:flex-1">
            <Text variant={'xl'}>I'm a hybrid-profile engineer dedicated to crafting integrated systems that connect physical machinery with digital intelligence through thoughtful design and technical expertise.</Text>
            <Text variant={'sm'}>With a passion for bridging the gap between field engineering and software development, I help organizations transform complex industrial challenges into elegant, scalable solutions. From resolving on-site design interferences to digitizing manual processes, I focus on creating technology that serves as a practical, user-friendly tool rather than just a set of specifications.</Text>
            <Text variant={'sm'}>Beyond engineering, I am an avid reader and gamer who also loves the simplicity of a long walk. For me, understanding human experience is just as important as mastering the machine.</Text>
            <Link variant={'button'} href="/about">More about me</Link>
        </div>
        <div class="w-full lg:h-[500px] h-auto lg:flex-1">
            <ImageContainer src={peter2} alt="Peter Jones" />
        </div>
    </div>
</Container>